body {
    margin: 0px;
    background-color: rgb(30, 31, 32);
  }
  
  
  /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
      scrollbar-width: auto;
      scrollbar-color: #0e1012 #ffffff;
    }
  
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 16px;
    }
  
    *::-webkit-scrollbar-track {
      background: rgb(255, 255, 255, 0.1);
      border-radius: 10px;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: rgb(40, 40, 40);
      border-radius: 10px;
      border: 3px solid rgb(28, 28, 28);
    }
  
  @font-face {
    font-family: "Orbitron";
    src: url(fonts/Orbitron/OrbitronBlack.ttf) format(truetype);
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Orbitron";
    src: url(fonts/Oxanium/OrbitronBold.ttf) format(truetype);
    font-weight: normal;
  }

  @font-face {
    font-family: "Orbitron";
    src: url(fonts/Oxanium/OrbitronLight.ttf) format(truetype);
    font-weight: normal;
  }

  @font-face {
    font-family: "Orbitron";
    src: url(fonts/Oxanium/OrbitronMedium.ttf) format(truetype);
    font-weight: normal;
  }

  .vcr {
    font: 1.5em "VCR_OSD_MONO", Ae, sans-serif !important;

  }
  
  h {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    color: rgb(230, 230, 235);
    font: 1em "OrbitronBlack", Cus, sans-serif;
    font-size: 4.6em;
    letter-spacing: 1px;
  }

  h {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    color: rgb(230, 230, 235);
    font: 1em "OrbitronBold", Cus, sans-serif;
    font-size: 4.6em;
    letter-spacing: 1px;
  }

  h {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    color: rgb(230, 230, 235);
    font: 1em "OrbitronLight", Cus, sans-serif;
    font-size: 4.6em;
    letter-spacing: 1px;
  }

  h {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    color: rgb(230, 230, 235);
    font: 1em "OrbitronMedium", Cus, sans-serif;
    font-size: 4.6em;
    letter-spacing: 1px;
  }

  h {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    color: rgb(230, 230, 235);
    font-size: 4.6em;
    letter-spacing: 1px;
  }