body {
  margin: 0px;
  background-color: rgb(30, 31, 32);
}
  
  
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3e87cf #be4a63;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    border: 3px solid rgb(28, 28, 28);
  }
@font-face {
  font-family: "Capture";
  src: url(fonts/Single/Captureit.ttf) format(truetype);
  font-weight: normal;
}
  
@font-face {
  font-family: "VCR";
  src: url(fonts/Oxanium/VCR_OSD_MONO.ttf) format(truetype);
  font-weight: normal;
}
  
h {
  display: flex;
  justify-content: center;
  padding: 100px 0 0 0;
  color: rgb(230, 230, 235);
  font: 1em "Captureit";
  font-size: 4.6em;
  letter-spacing: 1px;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 100px 0 0 0;
  color: rgb(230, 230, 235);
  font: 1em "VCR_OSD_MONO";
  font-size: 4.6em;
  letter-spacing: 1px;
}